<div class="content_header">
    <h2>{{title}}</h2>
    <div>
        <button *ngIf="exportExcel" style="border-color: #52c41a;" nz-button nzType="default" nzShape="circle" (click)="onExportExcel()"><span nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" nzType="file-excel"></span></button>
        <button *ngIf="exportExcel" style="margin-left: 10px; border-color: red;" nz-button nzType="default" nzShape="circle" (click)="onExportPdf()"><span nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="'red'" nzType="file-pdf"></span></button>
        <button *ngIf="route" style="margin-left: 10px;" nz-button nzType="primary" [routerLink]="route">{{buttonTitle}}</button>
        <a  *ngIf="masivo" style="margin-left: 20px;color: black;" nz-dropdown [nzDropdownMenu]="menu">
            <!--span nz-icon nzType="down"></span-->
            <span nz-icon nzType="menu" nzTheme="outline"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [routerLink]="['/create-masivo/',type]">Creación masiva</li>
              <li nz-menu-item [routerLink]="['/delete-masivo/',type]">Eliminación masiva</li>
            </ul>
          </nz-dropdown-menu>
    </div>
</div>