<app-content-header [title]="'Nuevo Inventario'"></app-content-header>

<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Articulo</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input [disabled]="true" formControlName="articulo" nz-input placeholder="Articulo" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Cantidad</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input type="number" formControlName="cantidad_total" nz-input placeholder="Cantidad" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Notificar desde</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input type="number" formControlName="notificar" nz-input placeholder="Notificar desde" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Estado</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select estado" formControlName="estado">
                    <nz-option nzLabel="Activo" nzValue="AC"></nz-option>
                    <nz-option nzLabel="Inactivo" nzValue="IN"></nz-option>
                </nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-control>
            <button nzType="default" nzDanger nz-button (click)="volver($event)">Volver</button>
        </nz-form-control>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        </nz-form-control>
        <nz-form-control>
            <button nzType="primary" nzGhost nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>
</form>