<app-content-header [title]="'Nuevo Articulo'"></app-content-header>

<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Descripción</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input formControlName="descripcion" nz-input placeholder="Descripción" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Precio</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input type="text" formControlName="precio" nz-input placeholder="Precio" (input)="formatNumber($event)" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Peso</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <input type="number" formControlName="peso" nz-input placeholder="Peso" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Proveedor</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <nz-select 
                    name="proveedor"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Seleccione proveedor"
                    formControlName="idproveedor">
                    <nz-option *ngFor="let proveedor of proveedores" [nzValue]="proveedor.idproveedor"
                        nzLabel={{proveedor.razon_social}}>
                    </nz-option>
                </nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Estado</nz-form-label>
        <nz-form-control nzErrorTip="Inserte un valor correcto!">
            <nz-input-group>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select estado" formControlName="estado">
                    <nz-option nzLabel="Activo" nzValue="AC"></nz-option>
                    <nz-option nzLabel="Inactivo" nzValue="IN"></nz-option>
                </nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-label nz-label nzRequired>Foto</nz-form-label>
        <nz-form-control>
            <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card"
                [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="customUploadReq"
                (nzChange)="handleChange($event)">
                <ng-container *ngIf="!avatarUrl">
                    <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
                    <div class="ant-upload-text">Cargar</div>
                </ng-container>
                <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
            </nz-upload>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-item>
        <nz-form-control>
            <button nzType="default" nzDanger nz-button (click)="volver($event)">Volver</button>
        </nz-form-control>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        </nz-form-control>
        <nz-form-control>
            <button nzType="primary" nzGhost nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>
</form>