<form [formGroup]="pagoForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let deuda of deudasSeleccionadas">
    <nz-form-item nz-item class="deuda-container">
      <div class="deuda-item">
        <b>Nro:</b> {{ deuda.cuota }}
      </div>
      <div class="deuda-item">
        <b>Vencimiento:</b> {{ deuda.vencimiento }}
      </div>
      <div class="deuda-item">
        <b>Monto a pagar:</b> {{ (deuda.monto_pago ?? 0) - (deuda.pagado ?? 0) }}
      </div>
      <nz-form-control nzErrorTip="Por favor, ingrese un monto válido">
        <input nz-input id="monto_pago_{{ deuda.idpago }}" formControlName="monto_pago_{{ deuda.idpago }}" type="number" step="0.01" (input)="calcularVuelto(deuda)" />
      </nz-form-control>
      <div *ngIf="deuda.vuelto??0 > 0" class="vuelto">
        Vuelto: {{ deuda.vuelto | currency }}
      </div>
    </nz-form-item>
  </div>
  <button nz-button nzType="primary" type="submit" [disabled]="pagoForm.invalid">Procesar Pago</button>
</form>
