<nz-layout>
  <nz-header>
    <div [routerLink]="'home'" style="cursor: pointer;" class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li (click)="logout()" nz-menu-item>logout</li>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
  </nz-content>
  <nz-layout class="inner-layout">
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item [routerLink]="'home'">
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li nz-submenu nzTitle="Sistema" nzIcon="setting">
          <ul>
            <li nz-menu-item [routerLink]="'ciudad/list'">Ciudad</li>
            <li nz-menu-item [routerLink]="'proveedor/list'">Proveedor</li>
            <li nz-menu-item [routerLink]="'sucursal/list'">Sucursal</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Administracion" nzIcon="laptop">
          <ul>
            <li nz-menu-item [routerLink]="'articulo/list'">Articulo</li>
            <li nz-menu-item [routerLink]="'producto_final/list'">Produccion</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Venta" nzIcon="stock">
          <ul>
            <li nz-menu-item [routerLink]="'inventario/list'">Inventario</li>
            <li nz-menu-item [routerLink]="'cliente/list'">Cliente</li>
            <li nz-menu-item [routerLink]="'venta/list'">Venta</li>
            <li nz-menu-item [routerLink]="'total_venta/list'">Total Venta</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Reporteria" nzIcon="pie-chart">
          <ul>
            <li nz-menu-item [routerLink]="'inventario/list'">Venta</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>